.body {
  background-image: url("../../assets/detailBG.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
}
.card {
  display: grid;
  border-radius: 15px;
  border: 30px solid rgb(104, 100, 100);
  padding: 40px;
  margin: 300px;
  grid-template-columns: repeat(2, 1fr);
  background: rgb(173, 170, 170);
  box-shadow: 2px 2px 5px white;
  text-shadow: 1px 1px 5px white;
}
.rutina {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.img {
  width: 80%;
  box-shadow: 2px 2px 5px white;
  border-radius: 15px;
}

.title {
  font-size: 2em;
  font-weight: bolder;
}
.grupoMuscular {
  font-size: 1.5em;
  font-weight: bold;
}
.instructions {
  font-size: 1.2em;
}
