.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgb(10, 10, 10, 0.9);
  border-bottom: 1px solid white;
  height: 70px;
}
.logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  margin-left: 30px;
  border: 2px solid white;
}

.itemContainer {
  height: max-content;

  font-size: 1.2em;
  font-weight: BOLD;
  text-align: center;
}
.item {
  color: white;
}
.button {
  margin-right: 30px;
}
.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
