.input {
  margin-right: 50%;
  width: 20%;
  font-family: "Titillium Web", sans-serif;
}
.container {
  margin-left: 15%;
}
.text1 {
  font-size: 4rem;
  font-family: "Titillium Web", sans-serif;
}

.clientlist {
  font-family: "Titillium Web", sans-serif;
  border-radius: 50px;
  border-color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 4%;
}

.listado {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  border-radius: 50px;
  border-color: black;
  font-size: 1.5rem;
  margin-top: 2%;
}

.tabla {
  border-collapse: collapse;
  width: 80%;
  font-family: "Titillium Web", sans-serif;
}

.tabla th,
.tabla td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  font-family: "Titillium Web", sans-serif;
}

.tabla th {
  background-color: #f2f2f2;
}

.buttonO {
  display: flex;
  font-family: "Titillium Web", sans-serif;
}

.button3 {
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #160b8d;
  color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
}

.refreshButton {
  margin-left: 20%;
  background-color: #1e128c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: "Titillium Web", sans-serif;
}

.refreshButton:hover {
  background-color: #c32424;
}

.refreshButton:focus {
  outline: none;
}

.customButton:active {
  background-color: #3e8e41;
}
