.input {
  margin-right: 50%;
  width: 20%;
  font-family: "Titillium Web", sans-serif;
}
.DashboardAdmin_container__H790\+{
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0px 0px 0px 0px;
}
.titleContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.title {
  font-size: 5em;
  font-weight: bolder;
  font-family: "Titillium Web", sans-serif;
}
.refreshButton {
  border: none;
  font-family: "Titillium Web", sans-serif;
}
.clientSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 80%;
  font-family: "Titillium Web", sans-serif;
}

.listado {
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  border-radius: 50px;
  border-color: black;
  font-size: 1.5rem;
  margin-top: 2%;
}

.tabla {
  border-collapse: collapse;
  width: 80%;
  font-family: "Titillium Web", sans-serif;
}

.tabla th,
.tabla td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  font-family: "Titillium Web", sans-serif;
}

.tabla th {
  background-color: #f2f2f2;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Titillium Web", sans-serif;
}

.button3 {
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #160b8d;
  color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
}

.refreshButton:focus {
  outline: none;
}

.customButton:active {
  background-color: #3e8e41;
}

.titleestadisticas{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circulo{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
@media only screen and (max-width: 800px) {

  .container {
    min-height: 100vh;
    display: block;
  }
  .titleContainer {
    width: auto;
    font-size: 9px;
    flex-direction: column;
    margin-top: 0px;
  }
  .titleestadisticas {
    margin: 0;
    padding: 0px 0px 0px 0px;
  }
  .circulo{
    display: block;
  }
}
