.card {
  height: 450px;
  text-shadow: 1px 1px 3px white;
}
.textarea {
  height: 150px;
  margin-top: 5px;
  width: 100%;
  padding: 8px;
  background-color: lightgray;
  border-radius: 10px;
  resize: none;
}

.title {
  font-size: 7ex;
  font-weight: bolder;
  text-align: center;
  padding-top: 50px;
}
