.titleContainer {
  font-size: 5em;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #28242b;
}
.home {
  background-color: #aaa8ac;
  font-family: "Titillium Web", sans-serif;
}
