.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/Error.gif");
  font-family: "Titillium Web", sans-serif;
}

.descripcion {
  margin-top: 23.1%;
  font-size: 6em;
  font-weight: bolder;
  text-align: center;
}

.button {
  align-self: center;
  margin-top: 20%;
}
