.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid royalblue;
}
.innerImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid royalblue;
}

.title {
  font-size: 1.5em;
  font-weight: lighter;
}
.text {
  font-size: 1em;
  font-weight: lighter;
}
