.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid royalblue;
}

.name {
  font-size: 1em;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
