.containerReviews {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define dos columnas de igual tamaño */
  grid-gap: 20px; /* Espacio entre las tarjetas */
}


.reviews{
  font-family: "Titillium Web", sans-serif;
}


.postBoton{
  align-items: center;
  display: flex;
  justify-content: center;
}
