.cardBody {
  width: 90%;
  height: 700px;
  border: 10px solid black;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px white;
  text-align: center;
}

.image {
  border-radius: 15px;
  margin-left: 10%;
  border: 1px solid grey;
  width: 80%;
  height: 250px;
}
.text {
  font-size: 1.5em;
  font-weight: bold;
}
.list {
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2em;
  font-weight: light;
}

.btn {
  margin: 10px;
  padding: 5px 50px;
}
