.body {
  font-family: "Titillium Web", sans-serif;
  background-color: #aaa8ac;
}

.film {
  border: 2px solid black;
  border-radius: 5px;
  transform: scale(1.15);
  margin: 20px;
}
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}
.img {
  height: 600px;
  width: 100%;
}
.title {
  font-size: 5em;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #28242b;
}
