.body {
  background-image: url("../../assets/rutinasBG.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 850px;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
