.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 1rem;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  background-color: #aaa8ac;
}
.img {
  width: 100%;
}
.boxMargin {
  width: 100%;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.comment {
  width: 100%;
}
.title {
  font-size: 5em;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #28242b;
}
