.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  cursor: pointer;
  background: none;
  border-radius: 14rem;
  background-color: lightgray;
  margin: 0.3rem;
  height: 1.5rem;
  width: 5rem;
  font-weight: bold;
}
.button:hover {
  background-color: rgb(178, 180, 180);
}

.input {
  cursor: auto;
  border: none;
  border-radius: 1rem;
  height: 1.5rem;
  width: 20rem;
  color: black;
  background-color: lightgray;
  margin: none;
  text-align: left;
  padding-left: 0.5rem;
  font-weight: bold;
}
