.img {
  margin-left: 25%;
}

.img2 {
  margin-left: 30%;
}

.img3 {
  margin-left: 25%;
}

.Button {
  width: fit-content;
}
.body {
  font-family: "Titillium Web", sans-serif;
  background-color: white;
}
