.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3px;
  font-size: 1.2em;
  margin: 15px;
}
.checkOption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.label {
  font-size: 1.2em;
  margin-left: 10px;
  margin-right: 10px;
}
.imagen {
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
.msgError {
  color: red;
}
